
<app-modal
        v-on:close="close()"
        v-if="opened" xmlns:v-on="http://www.w3.org/1999/xhtml">

    <table class="width100">
        <tr>
            <td>
                {{i18n.selectFont}}
            </td>
            <td>
                <!--<select required ng-model="editData.currFontInEdit.fontFamily" class="width100">-->
                    <!--<option value="{{fnt.displayName}}" ng-repeat="fnt in editData.systemFontList">-->
                        <!--{{fnt.displayName}}-->
                    <!--</option>-->
                <!--</select>-->
            </td>
        </tr>
        <tr>
            <td>
                {{i18n.name}}
            </td>
            <td>
                <input required ng-model="editData.currFontInEdit.name" class="width100">
            </td>
        </tr>
        <tr>
            <td>
                {{i18n.fontSize}}
            </td>
            <td>
                <input required type="number" ng-model="editData.currFontInEdit.fontSize" class="width100">
            </td>
        </tr>
        <tr>
            <td>
                {{i18n.fontColor}}
            </td>
            <td>
                <div
                        ng-click="openColorPickerForFont()"
                        ng-style="
                        {
                            width: '20px',
                            height:'20px',
                            backgroundColor:utils.rgbToHex(editData.currFontInEdit.fontColor)
                        }
                        "
                        ></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input ng-model="fontSample" class="width100"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div ng-style='{
                fontFamily:editData.currFontInEdit.fontFamily,
                fontSize:editData.currFontInEdit.fontSize+"px",
                color:utils.rgbToHex(editData.currFontInEdit.fontColor)
            }'>{{fontSample}}</div>
            </td>
        </tr>
    </table>

    <button
            ng-disabled="!frmCreateFont.$valid"
            ng-click="createOrEditFont(editData.currFontInEdit)">
        {{editData.currFontInEdit.id?i18n.edit:i18n.create}}
    </button>

</app-modal>