<html>
<body>
<div id="editor" style="width: 100%"></div>
<div id="commandline" style="position: absolute; bottom: 10px; height: 20px; width: 800px;"></div>
</body>
<script type="text/javascript" src="js/build/debug.js"></script>
<script src="js/lib/ace/src-min/ace.js" type="text/javascript"></script>
<script src="js/lib/ace/src-min/ext-language_tools.js" type="text/javascript"></script>
<script src="js/lib/jquery.js" type="text/javascript"></script>
<script>

    +function(){

        var editor;
        var tid;

        var setUpEditor = function(){
            editor = ace.edit("editor");
            editor.session.setMode("ace/mode/javascript");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            editor.$blockScrolling = Infinity;
        };

        setUpEditor();
        window.calcEditorSize = function(){
            if (!window.parent) return;
            var parentFrame = window.parent.document.getElementById('scriptEditor');
            $('#editor').css({height: parentFrame.getBoundingClientRect().height - 25 +'px'});
            editor.resize();
        };
        window.setCode = function(code){
            editor.setValue(code,1);
            editor.session.getUndoManager().reset();
            editor.resize();
        };
        window.setAutocomplete = function(data){
            var langTools = ace.require("ace/ext/language_tools");
            var appCompleter = {
                getCompletions: function(editor, session, pos, prefix, callback) {
                    callback(null, data);
                }
            };
            langTools.addCompleter(appCompleter);
        };
        editor.on('change', function() {
            clearTimeout(tid);
            tid = setTimeout(function(){
                window.parent.saveCode(editor.getValue());
            },1000);
        });
        window.ready = true;

    }();

</script>
</html>