<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="icon"  href="images/script.png">

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script type="text/javascript" src="/js/build/debug.js"></script>
    <script id="defaultCodeScript" type="text/template">
        {{{defaultCodeScript}}}
    </script>

</head>

<body>

    <div id="app">
        <div class="route" data-route>loading...</div>

        <app-confirm-dialog id="confirmDialog"></app-confirm-dialog>
        <app-alert-dialog id="alertDialog"></app-alert-dialog>

    </div>
    <script type="text/javascript" src="/js/build/app.bundle.js"></script>
</body>

</html>