<div
        app-context-menu="ctxScene"
        class="gameSceneWrapper relative"
        >
    <div
            ng-show="uiHelper.window=='sceneWindow'"
            class="gameScene relative"
            ng-controller="sceneCtrl"
            app-key-press="onKeyPress($event)"
            app-droppable="gameObjectFromLeftPanel,gameObjectFromSelf"
            app-on-dropped="onGameObjectDropped($object,$draggable,$event)"
            ng-style="{
                width:  editData.gameProps.width+'px',
                height: editData.gameProps.height+'px',
                overflow:'hidden'
            }">

        <div ng-include src="'partials/centralBlock/tileMap.html'"></div>

        <div ng-include src="'partials/centralBlock/gameObjects.html'"></div>

    </div>

    <ng-include src="'partials/centralBlock/cursor.html'"></ng-include>



</div>

<div ng-if="uiHelper.window=='debugRunWindow'" class="gameSceneWrapper withPaddingLeft">
    <iframe
            width="{{editData.gameProps.width}}"
            height="{{editData.gameProps.height}}"
            src="{{editData.debugFrameUrl}}"
            frameborder="0" scrolling="no"
            ></iframe>
</div>

<div ng-if="uiHelper.window=='scriptWindow'" class="gameSceneWrapper withPaddingLeft height100 noOverFlow relative">
    <iframe
            id="scriptEditor"
            style="position:absolute;width:100%;height:100%;left:0;top:0;bottom:0;right:0"
            src="{{editData.scriptEditorUrl}}"
            frameborder="0" scrolling="no"
            ></iframe>
</div>