
<div
        class="shadow" ng-if="!!uiHelper.ctxMenu.name" ng-click="uiHelper.ctxMenu.name=''"></div>

<div
    class="fixed contextMenu"
    ng-style="
        {
            left:uiHelper.ctxMenu.x+'px',
            top:uiHelper.ctxMenu.y+'px'
        }"
    ng-if="!!uiHelper.ctxMenu.name"
>

    <div
            ng-controller="sceneCtrl"
            ng-if="uiHelper.ctxMenu.name=='ctxScene'"
            ng-include src="'partials/contextMenus/ctxScene.html'">
    </div>

    <div
            ng-controller="gameObjectCtrl"
            ng-if="uiHelper.ctxMenu.name=='ctxGameObject'"
            ng-include src="'partials/contextMenus/ctxGameObject.html'">
    </div>

</div>