<div class="fullscreen shadow" ng-show="!!uiHelper.dialogName"></div>

<div class="dialogWrapper" ng-show="!!uiHelper.dialogName">
    <div class="dialog">
        <div class="dialogContent">
            <div class="dialogClose" ng-click="uiHelper.closeDialog()">
                X
            </div>

            <div
                    ng-repeat="ctrlName in [
                        'SpriteSheet','GameObject',
                        'Animation','Scene',
                        'Layer','Font',
                        'CommonBehaviour','Sound',
                        'ParticleSystem',
                        'ParticleSystemPreview'
                    ]"
            >
                <form
                        name="frmCreate{{ctrlName}}"
                        dynamic-ctrl="utils.deCapitalize(ctrlName)+'Ctrl'"
                        ng-if="uiHelper.dialogName=='frmCreate'+ctrlName"
                        ng-include src="'partials/dialogs/dialog'+ctrlName+'.html'"
                        novalidate>
                </form>


            </div>

        </div>
    </div>
</div>
