<div class="panel withPadding pointer" ng-controller="topPanelCtrl">

    <div class="inlineBlock" ng-click="showDialog('build')">
        {{i18n.build}}
    </div>
    <div class="inlineBlock" ng-click="run()">
        {{i18n.run}}
    </div>
    <div class="inlineBlock" ng-click="debug()">
        {{i18n.debug}}
    </div>
    <div class="inlineBlock" ng-click="stop()">
        {{i18n.stop}}
    </div>
    <div class="inlineBlock" ng-click="toExplorer()">
        {{i18n.explorer}}
    </div>

</div>