
<app-modal
        v-on:close="close()"
        v-if="opened" xmlns:v-on="http://www.w3.org/1999/xhtml">

    <div class="withPadding">
        <div>
            {{i18n.scene}}: {{editData.currLayerInEdit._scene.name}}
        </div>
        <b class="block centerText">{{i18n.layer}}</b>
        <div class="table width100">
            <div class="row">
                <div class="cell">
                    {{i18n.name}}
                </div>
                <div class="cell">
                    <input
                        v-control="{form:form,model:editData.currLayerInEdit,prop:'name'}"
                        v-model="editData.currLayerInEdit.name"
                        required/>
                </div>
            </div>
        </div>
        <div>
            <button
                    :disabled="!form.valid()"
                    v-on:click="createOrEditLayer(editData.currLayerInEdit,editData.currLayerInEdit._scene)">
                {{editData.currLayerInEdit.id?i18n.edit:i18n.create}}
            </button>
        </div>
    </div>

</app-modal>