<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'scenes')">{{i18n.scenes}}</h3>
<div ng-show="leftMenuIndex=='scenes'" class="withPadding">
    <div class="table width100">
        <div
                ng-click="editData.currSceneInEdit=scene"
                ng-repeat="scene in editData.sceneList.rs" class="row">
            <div class="cell width100 vAlign">
                <div ng-class="{table:1,width100:1,selected:editData.currSceneInEdit==scene}">
                    <div class="cell width20">{{scene.name}}</div>
                    <div class="cell" ng-click="showEditSceneDialog(scene)">{{i18n.edit}}</div>
                    <div class="cell rightAlign" ng-click="deleteScene(scene)">X</div>
                </div>

                <div class="table width100">
                    <div class="row"
                         ng-repeat="gObj in scene._gameObjects.rs"
                         ng-click="editData.currSceneGameObjectInEdit=gObj"
                         ng-class="{
                                row:1,
                                active:gObj==editData.currSceneGameObjectInEdit
                         }"
                         >
                        <div class="cell vAlign">
                            <span>{{gObj.name}}</span>
                        </div>
                        <div class="cell">
                            <div
                                ng-style="utils.merge(
                                        utils.getGameObjectCss(gObj),
                                        {zoom:gObj.height>30?30/gObj.height:1}
                                )">
                            </div>
                        </div>
                        <div class="cell pointer vAlign rightAlign" ng-click="deleteGameObjectFromScene(scene,gObj)">
                            X
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button ng-click="showCreateSceneDialog()">{{i18n.create}}</button>
</div>
