.fullscreen {
  position: fixed;
  left:0;top:0;right:0;bottom:0;
  z-index: 100;
}

.shadow {
  background-color: rgba(0,0,0,0.3);
}

.dialogWrapper {
  display: table;
  width: 100%;
  position: fixed;
  left:0;top:0;right:0;bottom:0;
  height: 100%;
  text-align: center;
  z-index:200;
}

.dialog {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
}

.dialogContent {
  display: inline-block;
  position: relative;
  background-color: #f8f8f8;
  max-height: 90vh;
  max-width: 95vw;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 300;
}

.dialogClose {
  text-align: right;
  background-color: #bdbdbd;
  border-bottom: 1px solid #767676;
}