<table class="width100">
    <tr>
        <td>
            {{i18n.name}}
        </td>
        <td>

        </td>
        <td>
            <input required ng-model="editData.currParticleSystemInEdit.name"/>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            numOfParticlesToEmit
        </td>
        <td>
            from
        </td>
        <td>
            <input ng-model="editData.currParticleSystemInEdit.numOfParticlesToEmit.from"/>
        </td>
    </tr>
    <tr>
        <td>
            to
        </td>
        <td>
            <input ng-model="editData.currParticleSystemInEdit.numOfParticlesToEmit.to"/>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            particleVelocity
        </td>
        <td>
            from
        </td>
        <td>
            <input ng-model="editData.currParticleSystemInEdit.particleVelocity.from"/>
        </td>
    </tr>
    <tr>
        <td>
            to
        </td>
        <td>
            <input ng-model="editData.currParticleSystemInEdit.particleVelocity.to"/>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            particleAngle
        </td>
        <td>
            from / to
        </td>
        <td>
            <app-input-angle
                    class="inlineBlock"
                    ng-model="editData.currParticleSystemInEdit.particleAngle"
                    app-field="from"
                    >
            </app-input-angle>
            <app-input-angle
                    class="inlineBlock"
                    ng-model="editData.currParticleSystemInEdit.particleAngle"
                    app-field="to"
                    >
            </app-input-angle>
        </td>
    </tr>
    <tr>
        <td>
            {{i18n.gameObject}}
        </td>
        <td>
            <select ng-model="editData.currParticleSystemInEdit.gameObjectId">
                <option value="{{item.id}}" ng-repeat="item in editData.gameObjectList.rs">{{item.name}}</option>
            </select>
        </td>
    </tr>

</table>

<button
        ng-disabled="!frmCreateParticleSystem.$valid"
        ng-click="createOrEditParticleSystem(editData.currFontInEdit)">
    {{editData.currParticleSystemInEdit.id?i18n.edit:i18n.create}}
</button>
