
<table class="width100">
    <tr>
       <td>
           <label for="ditData.compileOpts.debug">
               opts.debug
           </label>
       </td>
        <td>
           <input id="ditData.compileOpts.debug" type="checkbox" ng-model="editData.compileOpts.debug"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="ditData.compileOpts.embedResources">
                opts.embedResources
            </label>
        </td>
        <td>
            <input id="ditData.compileOpts.embedResources" type="checkbox" ng-model="editData.compileOpts.embedResources"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="ditData.compileOpts.embedScript">
                opts.embedScript
            </label>
        </td>
        <td>
            <input id="ditData.compileOpts.embedScript" type="checkbox" ng-model="editData.compileOpts.embedScript"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="editData.compileOpts.minifyScript">
                opts.minifyScript
            </label>
        </td>
        <td>
            <input id="editData.compileOpts.minifyScript" type="checkbox" ng-model="editData.compileOpts.minifyScript"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button ng-click="build()">{{i18n.build}}</button>
        </td>
    </tr>
    <tr ng-if="link">
        <td colspan="2">
            <a target="_blank" ng-click="uiHelper.closeDialog()" ng-href="{{link}}">{{i18n.preview}}</a>
        </td>
    </tr>
</table>