<div class="withPadding">
    <div class="table">
        <div class="row">
            <div class="cell">
                {{i18n.name}}
            </div>
            <div class="cell">
                <input required ng-model="editData.currSceneInEdit.name"/>
            </div>
        </div>
    </div>
    <button
            ng-disabled="!frmCreateScene.$valid"
            ng-click="createOrEditScene(editData.currSceneInEdit)">
        {{editData.currSceneInEdit.id?i18n.edit:i18n.create}}
    </button>
</div>