<table class="width100">
    <tr>
        <td>
            {{i18n.name}}
        </td>
    </tr>
    <tr>
        <td>
            <input required ng-model="editData.currSoundInEdit.name"/>
        </td>
    </tr>
    <tr>
        <td>
            <button data-action="upload">
                {{i18n.loadSound}}
            </button>
            <input required accept="audio/*" app-on-file-upload="onSoundUpload($file,$src)" type="file"/>
        </td>
    </tr>
    <tr>
        <td>
            <audio controls src="{{soundUrl}}"></audio>
        </td>
    </tr>
</table>

<button
        ng-disabled="!frmCreateSound.$valid"
        ng-click="createOrEditSound(editData.currSoundInEdit)">
    {{editData.currSoundInEdit.id?i18n.edit:i18n.create}}
</button>