
<table class="width100">
    <tr ng-repeat="(key,value) in editData.buildOpts">
       <td>
           <label for="{{key}}">
               {{key}}
           </label>
       </td>
        <td>
           <input id="{{key}}" type="checkbox" ng-model="editData.buildOpts[key]"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button ng-click="build()">{{i18n.build}}</button>
        </td>
    </tr>
    <tr ng-if="link">
        <td colspan="2">
            <a target="_blank" ng-click="uiHelper.closeDialog()" ng-href="{{link}}">{{i18n.preview}}</a>
        </td>
    </tr>
</table>