
<table class="width100">
    <tr ng-repeat="(key, value) in editData.currCommonBehaviourInEdit.parameters">
        <td>
            {{key}}
        </td>
        <td>
            <input type="text" ng-model="editData.currCommonBehaviourInEdit.parameters[key]"/>
        </td>
    </tr>
</table>
<button
        ng-click="createOrEditCommonBehaviour(editData.currCommonBehaviourInEdit)"
        ng-disabled="!(frmCreateCommonBehaviour.$valid)">
    {{editData.currCommonBehaviourInEdit.id?i18n.edit:i18n.create}}
</button>