
<table class="width100">
    <tr>
       <td>
           <label for="opts.debug">
               opts.debug
           </label>
       </td>
        <td>
           <input id="opts.debug" type="checkbox" ng-model="opts.debug"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="opts.embedResources">
                opts.embedResources
            </label>
        </td>
        <td>
            <input id="opts.embedResources" type="checkbox" ng-model="opts.embedResources"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="opts.embedScript">
                opts.embedScript
            </label>
        </td>
        <td>
            <input id="opts.embedScript" type="checkbox" ng-model="opts.embedScript"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button ng-click="build()">{{i18n.build}}</button>
        </td>
    </tr>
    <tr ng-if="link">
        <td colspan="2">
            <a target="_blank" ng-click="uiHelper.closeDialog()" ng-href="{{link}}">{{i18n.preview}}</a>
        </td>
    </tr>
</table>