<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'fonts')">{{i18n.commonBehaviour}}</h3>
<div ng-show="leftMenuIndex=='fonts'" class="withPadding">
    <form name="fonts" class="table width100 withPadding">
        <div class="table width100">
            <div class="row" ng-repeat="item in editData.commonBehaviourList.rs">
                <div class="cell vAlign">
                    <span title="{{item.description}}">{{item.name}}</span>
                </div>
                <div class="cell vAlign rightAlign" ng-click="showScript(item)">
                    edit
                </div>
            </div>
        </div>
    </form>
</div>