<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'gameProps')">{{i18n.game}}</h3>
<div ng-show="leftMenuIndex=='gameProps'">
    <form name="gameProps" class="table width100">
        <div class="row">
            <div class="cell">
                {{i18n.width}}
            </div>
            <div class="cell">
                <input class="narrow" ng-model="editData.gameProps.width" type="number" min="1" max="20000" ng-change="gameProps.$valid && saveGameProps()"/>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                {{i18n.height}}
            </div>
            <div class="cell">
                <input class="narrow" ng-model="editData.gameProps.height" type="number" min="1" max="20000" ng-change="gameProps.$valid && saveGameProps()"/>
            </div>
        </div>


        <div class="row">
            <div class="cell">
                {{i18n.scaleStrategy}}
            </div>
            <div class="cell">
                <select class="narrow" ng-model="editData.gameProps.scaleStrategy" ng-change="saveGameProps()">
                    <option value="{{value}}" ng-repeat="(key,value) in scales">{{key}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                {{i18n.preloadingScene}}
            </div>
            <div class="cell">
                <select class="narrow" ng-model="editData.gameProps.preloadingSceneId" ng-change="saveGameProps()">
                    <option value="{{item.id}}" ng-repeat="item in editData.sceneList.rs">{{item.name}}</option>
                </select>
            </div>
        </div>


    </form>
</div>