<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'scenes');">{{i18n.scenes}}</h3>
<div ng-show="leftMenuIndex=='scenes'" class="withPadding">

    <!--scenes-->
    <div class="table width100 borderedRows borderedCells" ng-click="uiHelper.window = 'sceneWindow';">
        <div
                ng-click="editData.currSceneInEdit=scene"
                ng-repeat="scene in editData.sceneList.rs" class="row">
            <div class="cell width100 vAlign">
                <div ng-class="{table:1,width100:1,selected:editData.currSceneInEdit==scene,unselected:editData.currSceneInEdit!=scene}">
                    <div class="cell" ng-click="scene._opened=!scene._opened">
                        {{scene.name}}
                        <div ng-show="!scene._opened" class="triangleRight"></div>
                        <div ng-show="scene._opened" class="triangleBottom"></div>
                    </div>
                    <div class="cell edit" ng-click="showDialog('scene','edit',scene)"></div>
                    <div class="cell rightAlign delete" ng-click="deleteScene(scene)"></div>
                </div>
                <!--layers-->
                <div ng-show="scene._opened" class="table width100">
                    <div class="cell width1">
                        {{i18n.layers}}
                        <div class="add" ng-click="showDialog('layer','create')">+</div>
                        <div class="script" ng-click="showScript(scene,$event)"></div>
                    </div>
                    <div class="cell layers">
                        <div class="table width100">
                            <div
                                    ng-class="{selected2:editData.currLayerInEdit.id==layer.id,row:1,borderBottom:1}"
                                    ng-click="editData.currLayerInEdit=layer"
                                    ng-repeat="layer in scene._layers.rs">
                                <div class="cell vAlign">
                                    <div class="bold" title="{{layer.name}}">{{layer.name | cutStr}}</div>
                                    <div
                                            class="inlineBlock edit"
                                            ng-click="$event.stopPropagation();showDialog('layer','edit',layer);"></div>
                                    <div class="inlineBlock delete" ng-click="deleteLayer(scene,layer)"></div>
                                </div>
                                <div class="cell">
                                    <!--game objects-->
                                    <div class="table width100">

                                        <div class="row">
                                            <div class="cell valign">
                                                {{i18n.tileMap}}
                                            </div>
                                            <div class="cell eye">

                                            </div>
                                        </div>

                                        <div class="row" ng-click="layer._opened=!layer._opened">
                                            <div class="cell valign">
                                                {{i18n.gameObjects}}
                                            </div>
                                            <div class="cell">
                                                <div ng-show="!layer._opened" class="triangleRight"></div>
                                                <div ng-show="layer._opened" class="triangleBottom"></div>
                                            </div>
                                        </div>
                                        <div ng-show="layer._opened" class="row"
                                             ng-repeat="gObj in layer._gameObjects.rs"
                                             ng-click="editData.currSceneGameObjectInEdit=gObj"
                                             ng-class="{
                                                    row:1,
                                                    active:gObj==editData.currSceneGameObjectInEdit
                                                    }"
                                                >
                                            <div
                                                    title="{{gObj.name}}"
                                                    class="cell">
                                                <div
                                                        ng-if="!gObj.subType"
                                                        ng-style="utils.merge(
                                                            utils.getGameObjectCss(gObj),
                                                            {zoom:gObj.height>30?30/gObj.height:1}
                                                            )">
                                                </div>
                                                <div
                                                        ng-if="gObj.subType"
                                                        title="{{gObj.name}}"
                                                        >
                                                    {{gObj.name | cutStr}}
                                                </div>
                                            </div>
                                            <div class="cell vAlign rightAlign delete"
                                                 ng-click="deleteGameObjectFromLayer(layer,gObj)">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add" ng-click="showDialog('scene','create')"></div>
</div>



