<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'scenes');">{{i18n.scenes}}</h3>
<div ng-show="leftMenuIndex=='scenes'" class="withPadding">

    <!--scenes-->
    <div class="table width100 borderedRows borderedCells" ng-click="uiHelper.window = 'sceneWindow';">
        <div
                ng-click="editData.currSceneInEdit=scene"
                ng-repeat="scene in editData.sceneList.rs" class="row">
            <div class="cell width100 vAlign">
                <div ng-class="{table:1,width100:1,selected:editData.currSceneInEdit==scene,unselected:editData.currSceneInEdit!=scene}">
                    <div class="cell width20" ng-click="scene._opened=!scene._opened">
                        {{scene.name}}
                        <div ng-show="!scene._opened" class="triangleRight"></div>
                        <div ng-show="scene._opened" class="triangleBottom"></div>
                    </div>
                    <div class="cell" ng-click="showEditSceneDialog(scene)">{{i18n.edit}}</div>
                    <div class="cell rightAlign" ng-click="deleteScene(scene)">X</div>
                </div>
                <!--layers-->
                <div ng-show="scene._opened" class="table width100">
                    <div class="cell width1">
                        {{i18n.layers}}
                        <button class="block" ng-click="showCreateLayerDialog(scene)">+</button>
                        <div ng-click="showScript(scene,$event)">
                            script
                        </div>
                    </div>
                    <div class="cell layers">
                        <div class="table width100">
                            <div
                                    ng-class="{selected2:editData.currLayerInEdit.id==layer.id,row:1,borderBottom:1}"
                                    ng-click="editData.currLayerInEdit=layer"
                                    ng-repeat="layer in scene._layers.rs">
                                <div class="cell vAlign">
                                    <div class="bold">{{layer.name}}</div>
                                    <div class="inlineBlock" ng-click="showEditLayerDialog($event,layer)">{{i18n.edit}}</div>
                                    <div class="inlineBlock" ng-click="deleteLayer(scene,layer)">X</div>
                                </div>
                                <div class="cell">
                                    <!--game objects-->
                                    <div class="table width100">
                                        <div class="row">
                                            <div class="cell valign">
                                                {{i18n.gameObjects}}
                                            </div>
                                            <div class="cell" ng-click="layer._opened=!layer._opened">
                                                <div ng-show="!layer._opened" class="triangleRight"></div>
                                                <div ng-show="layer._opened" class="triangleBottom"></div>
                                            </div>
                                        </div>
                                        <div ng-show="layer._opened" class="row"
                                             ng-repeat="gObj in layer._gameObjects.rs"
                                             ng-click="editData.currSceneGameObjectInEdit=gObj"
                                             ng-class="{
                                                    row:1,
                                                    active:gObj==editData.currSceneGameObjectInEdit
                                                    }"
                                                >
                                            <div class="cell vAlign">
                                                <span>{{gObj.name}}</span>
                                            </div>
                                            <div class="cell">
                                                <div
                                                        ng-if="gObj.subType=='textField'"
                                                        ng-style="utils.merge(
                                                            utils.getGameObjectCss(gObj),
                                                            {
                                                                zoom:gObj.height>30?30/gObj.height:1,
                                                                width:'auto',
                                                                backgroundImage:'none'
                                                            }
                                                            )">
                                                </div>
                                                <div
                                                        ng-if="!gObj.subType"
                                                        ng-style="utils.merge(
                                                            utils.getGameObjectCss(gObj),
                                                            {zoom:gObj.height>30?30/gObj.height:1}
                                                            )">
                                                </div>
                                            </div>
                                            <div class="cell vAlign rightAlign"
                                                 ng-click="deleteGameObjectFromLayer(layer,gObj)">
                                                X
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button ng-click="showCreateSceneDialog()">{{i18n.create}}</button>
</div>



