<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'sounds')">{{i18n.sounds}}</h3>
<div ng-show="leftMenuIndex=='sounds'" class="withPadding">
    <form name="sounds" class="table width100 withPadding">
        <div class="table width100">
            <div class="row" ng-repeat="item in editData.soundList.rs">
                <div class="cell vAlign">
                    <span>{{item.name}}</span>
                </div>
                <div class="cell">

                </div>
                <div class="cell vAlign rightAlign" ng-click="showEditSoundDialog(item)">
                    edit
                </div>
                <div class="cell pointer vAlign rightAlign" ng-click="resourceDao.deleteResource(item.id,item.type)">
                    X
                </div>
            </div>
        </div>
        <button ng-click="showCreateSoundDialog()">
            {{i18n.create}}
        </button>
    </form>
</div>