<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'spriteSheers')">{{i18n.spriteSheers}}</h3>
<div ng-show="leftMenuIndex=='spriteSheers'" class="withPadding">
    <div> 
        <div class="table width100">
            <div class="row" ng-repeat="item in editData.spriteSheetList.rs">
                <div class="cell vAlign">
                    <img height="20" ng-src="{{editData.projectName+'/'+item.resourcePath}}"/>
                </div>
                <div class="cell vAlign">
                    <span>{{item.name}}</span>
                </div>
                <div class="cell vAlign rightAlign edit" ng-click="showDialog('spriteSheet','edit',item)"></div>
                <div class="cell pointer vAlign rightAlign delete" ng-click="resourceDao.deleteResource(item.id,'spriteSheet')"></div>
            </div>
        </div>
    </div>
    <div class="add" ng-click="showDialog('spriteSheet','create')">
    </div>
</div>