<h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'userInterface')">{{i18n.userInterface}}</h3>
<div ng-show="leftMenuIndex=='userInterface'" class="withPadding">
    <form name="fonts" class="table width100 withPadding">
        <div class="table width100">
            <div class="row" ng-repeat="item in editData.userInterfaceList.rs">
                <div
                        class="cell vAlign inlineBlock"
                        app-draggable="gameObjectFromLeftPanel" ng-model="item"
                        >
                    <span>{{item.subType}}</span>
                </div>
            </div>
        </div>
    </form>
</div>