<app-modal
        v-on:close="close()"
        v-if="opened" xmlns:v-on="http://www.w3.org/1999/xhtml">

    <table class="width100">
        <tr>
            <td>
                {{i18n.name}}
            </td>
            <td>

            </td>
            <td>
                <input
                    required
                    v-control="{form:form,model:editData.currParticleSystemInEdit,prop:'name'}"
                    v-model="editData.currParticleSystemInEdit.name"/>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                numOfParticlesToEmit
            </td>
            <td>
                from
            </td>
            <td>
                <input
                    required
                    type="number"
                    v-control="{form:form,model:editData.currParticleSystemInEdit.numOfParticlesToEmit,prop:'from'}"
                    v-model="editData.currParticleSystemInEdit.numOfParticlesToEmit.from"/>
            </td>
        </tr>
        <tr>
            <td>
                to
            </td>
            <td>
                <input
                    required
                    type="number"
                    v-control="{form:form,model:editData.currParticleSystemInEdit.numOfParticlesToEmit,prop:'to'}"
                    v-model="editData.currParticleSystemInEdit.numOfParticlesToEmit.to"/>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                particleVelocity
            </td>
            <td>
                from
            </td>
            <td>
                <input
                        required
                        type="number"
                        v-control="{form:form,model:editData.currParticleSystemInEdit.particleVelocity,prop:'from'}"
                        v-model="editData.currParticleSystemInEdit.particleVelocity.from"/>
            </td>
        </tr>
        <tr>
            <td>
                to
            </td>
            <td>
                <input
                        required
                        type="number"
                        v-control="{form:form,model:editData.currParticleSystemInEdit.particleVelocity,prop:'to'}"
                        v-model="editData.currParticleSystemInEdit.particleVelocity.to"/>
            </td>
        </tr>

        <tr>
            <td rowspan="2">
                particleLiveTime
            </td>
            <td>
                from
            </td>
            <td>
                <input
                    required
                    type="number"
                    v-control="{form:form,model:editData.currParticleSystemInEdit.particleLiveTime,prop:'from'}"
                    v-model="editData.currParticleSystemInEdit.particleLiveTime.from"/>
            </td>
        </tr>
        <tr>
            <td>
                to
            </td>
            <td>
                <input
                    required
                    type="number"
                    v-control="{form:form,model:editData.currParticleSystemInEdit.particleLiveTime,prop:'to'}"
                    v-model="editData.currParticleSystemInEdit.particleLiveTime.to"/>
            </td>
        </tr>

        <tr>
            <td>
                emissionRadius
            </td>
            <td></td>
            <td>
                <input
                        required
                        type="number"
                        v-control="{form:form,model:editData.currParticleSystemInEdit,prop:'emissionRadius'}"
                        v-model="editData.currParticleSystemInEdit.emissionRadius"/>
            </td>
        </tr>

        <tr>
            <td>
                particleAngle
            </td>
            <td>
                from / to
            </td>
            <td>
                <app-angle-picker
                        :object="editData.currParticleSystemInEdit.particleAngle"
                        :value="'from'"
                        />
                <app-angle-picker
                        :object="editData.currParticleSystemInEdit.particleAngle"
                        :value="'to'"
                        />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{i18n.gameObject}}
            </td>
            <td>

                <table>
                    <tr>
                        <td>
                            <select
                                    required
                                    v-control="{form:form,model:editData.currParticleSystemInEdit.gameObject,prop:'id'}"
                                    v-on:change="onGameObjectIdChanged(editData.currParticleSystemInEdit.gameObject.id)"
                                    v-model="editData.currParticleSystemInEdit.gameObject.id"
                                    >
                                <option
                                        :value="item.id"
                                        v-for="item in editData.gameObjectList.rs">{{item.name}}</option>
                            </select>
                        </td>
                        <td>
                            <div :style="
                                utils.merge(
                                    utils.getGameObjectCss(editData.currParticleSystemInEdit.gameObject),
                                    {
                                        zoom:editData.currParticleSystemInEdit.gameObject.height>30?
                                        30/editData.currParticleSystemInEdit.gameObject.height:
                                        1
                                    }
                               )">
                            </div>
                        </td>
                    </tr>
                </table>


            </td>
        </tr>

    </table>

    <button
            :disabled="!form.valid()"
            v-on:click="createOrEditPs(editData.currParticleSystemInEdit)">
        {{editData.currParticleSystemInEdit.id?i18n.edit:i18n.create}}
    </button>

    <button
            :disabled="!form.valid()"
            v-on:click="showPreview()">
        {{i18n.preview}}
    </button>

</app-modal>