<div
        v-if="editData.currLayerInEdit._gameObjects"
        xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div v-for="item in editData.currLayerInEdit._gameObjects.rs">

        <div
                v-if="!item.subType"
                app-draggable="gameObjectFromSelf"
                app-context-menu="ctxGameObject"
                v-on:click.capture="editData.currSceneGameObjectInEdit=item"
                :style="utils.merge(
                            utils.getGameObjectCss(item),
                            {
                                position:'absolute',
                                left:
                                     item.fixedToCamera?(item.pos.x+'px'):
                                     item.pos.x -
                                     frameWidth *
                                     editData.tileMapPosX +
                                     'px',
                                top:
                                     item.fixedToCamera?(item.pos.y+'px'):
                                     item.pos.y -
                                     frameHeight *
                                     editData.tileMapPosY +
                                     'px',
                            }
                    )"
                :class="{active:item==editData.currSceneGameObjectInEdit}"
                >

        </div>

        <div
                v-if="item.subType=='textField'"
                app-draggable="gameObjectFromSelf"
                v-on:click.capture="editData.currSceneGameObjectInEdit=item"
                :style="utils.merge(
                            utils.getGameObjectCss(item),
                            {
                                position:'absolute',
                                left:
                                     item.pos.x -
                                     frameWidth *
                                     editData.tileMapPosX +
                                     'px',
                                top:
                                     item.pos.y -
                                     frameHeight *
                                     editData.tileMapPosY +
                                     'px',
                                backgroundColor:'rgb(0,222,0.1)',
                                height:item.height+'px',
                                width:item.width?item.width+'px':'10px',
                                backgroundColor:item.width?'':'#ddd',
                                backgroundImage:'none'
                            }
                    )"
                :class="{active:item==editData.currSceneGameObjectInEdit}"
                >

            <div style="position: relative;left:0;top:0;z-index:10">
                            <span
                                :style="{
                                    left:item.pos.x+'px',
                                    top: item.pos.y+'px',
                                    display:ch=='\n'?'block':'inline-block',
                                    width:item._font.fontContext.symbols[ch].width+'px',
                                    height:item._font.fontContext.symbols[ch].height+'px',
                                    backgroundImage:'url('+editData.projectName+'/'+item._font.resourcePath+')',
                                    backgroundRepeat:     'no-repeat',
                                    backgroundPositionX: -item._font.fontContext.symbols[ch].x+'px',
                                    backgroundPositionY: -item._font.fontContext.symbols[ch].y+'px'
                                }"
                                    v-for="ch in item._chars">
                                </span>
            </div>

        </div>
    </div>
</div>