<html>
<body>
<div id="editor" style="height: 500px; width: 100%"></div>
<div id="commandline" style="position: absolute; bottom: 10px; height: 20px; width: 800px;"></div>
</body>
<script type="text/javascript" src="/debug.js"></script>
<script src="public/js/lib/ace/src-min/ace.js" type="text/javascript"></script>
<script src="public/js/lib/ace/src-min/ext-language_tools.js" type="text/javascript"></script>
<script src="public/js/lib/jquery.js" type="text/javascript"></script>
<script>


    !function(){

        var tid = null;
        var editor;
        var name;

        var locationParams = function(){
            var search = location.search && location.search.substring(1)||'';
            var pairs = search.split('&');
            var res = {};
            pairs.forEach(function(pair){
                var operands = pair.split('=');
                res[operands[0]] = decodeURIComponent(operands[1]);
            });
            return res;
        }();

        var setUpEditor = function(){
            editor = ace.edit("editor");
            window.e = editor;
            editor.session.setMode("ace/mode/javascript");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            editor.$blockScrolling = Infinity;
        };

        var setAutocomplete = function(data) {
            var langTools = ace.require("ace/ext/language_tools");
            var appCompleter = {
                getCompletions: function(editor, session, pos, prefix, callback) {
                    callback(null, data);
                }
            };
            langTools.addCompleter(appCompleter);
        };

        var setUpMessageDigest = function(){
            window.top.postMessage({command:'getCode',name:locationParams.name,path:locationParams.path},'*');
            name = locationParams.name;
            var $editor = $('#editor');

            window.addEventListener('message',function(m){
                if (!(m.data && m.data.command)) return;
                switch (m.data.command) {
                    case 'resizeWindow':
                        $editor.css({height: m.data.height+'px'});
                        editor.resize();
                        break;
                    case 'setCode':
                        editor.setValue(m.data.code,1);
                        editor.session.getUndoManager().reset();
                        editor.resize();
                        setAutocomplete(m.data.completer);

                }
            });
            editor.on('change', function() {
                clearTimeout(tid);
                tid = setTimeout(function(){
                    window.top.postMessage({command:'saveCode',name:name,path:locationParams.path,code:editor.getValue()},'*');
                },1000);
            });
        };

        return function(){
            setUpEditor();
            setUpMessageDigest();
        }


    }()();





</script>
</html>