<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/angular.css">
    <link type="text/css" rel="stylesheet" href="/css/contextMenu.css">
    <script type="text/javascript" src="/js/lib/oop.js"></script>
    <script>
        <%- include ../../../resources/generatorResources/templates/envVariables %>
        ve_local.DEFAULT_CODE_SCRIPT = <%-JSON.stringify(defaultCodeScript)%>;
    </script>
    <script type="text/javascript" src="/js/lib/angular.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.sortable.js"></script>
    <script type="text/javascript">window.app = angular.module('main', [])</script>
    <script type="text/javascript" src="/js/all.js"></script>
</head>
    <body ng-app="main" ng-controller="mainCtrl">
        <div ng-include src="'main.html'" class="withPadding height100"></div>
    </body>
</html>