<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="icon"  href="images/script.png">

    <link rel="stylesheet" type="text/css" href="css/bundle.css">

    <script type="text/javascript" src="/debug.js"></script>
    <script type="text/javascript" src="/generateEngine?debug=1&require=_require"></script>
    <script type="text/javascript" src="/js/build/vendor.js"></script>

</head>

<body>
    <div id="app">
        <router-view></router-view>
        <app-confirm-dialog/>
    </div>
    <script type="text/javascript" src="/js/build/bundle.js"></script>
</body>

</html>