<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/angular.css">
    <link type="text/css" rel="stylesheet" href="/css/contextMenu.css">

    <script type="text/javascript"
            src="/addResource?name=lib.debug&ignoreEJS=1&ignoreCommonJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=lib.oop&ignoreEJS=1&ignoreCommonJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=lib.commonJS&ignoreEJS=1&ignoreCommonJS=1"></script>

    <script type="text/javascript"
            src="/addResource?name=modules.consts.consts"></script>
    <script type="text/javascript"
            src="/addResource?name=modules.model.collections&ignoreEJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=modules.model.models&ignoreEJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=modules.misc.math&ignoreEJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=modules.misc.utils&ignoreEJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=modules.dataProvider.bundle&ignoreEJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=modules.misc.math&ignoreEJS=1"></script>
    <script type="text/javascript"
            src="/addResource?name=modules.misc.utils&ignoreEJS=1"></script>

    <script>
        var DEFAULT_CODE_SCRIPT = <%-JSON.stringify(defaultCodeScript)%>;
    </script>

    <script type="text/javascript" src="/js/lib/angular.js"></script>
    <script type="text/javascript" src="/js/lib/angular-route.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript">window.app = angular.module('main', ['ngRoute'])</script>
    <script type="text/javascript" src="/js/all.js"></script>

</head>
    <body ng-app="main" ng-controller="mainCtrl">

        <div ng-view="" class="height100"></div>
        <div ng-include src="'partials/dialogs.html'"></div>
        <div ng-include src="'partials/contextMenus.html'"></div>

    </body>
</html>