
<div
        ng-controller="projectCtrl"
        class="dialogWrapper">
    <div
        ng-show="!uiHelper.dialogName"
        class="dialog">
        <div class="dialogContent subFullScreen panel">
            <b class="centerText block">{{i18n.explorer}}</b>

            <div class="table width100">
                <div
                        ng-repeat="item in editData.projects"
                        class="row hoverable">
                    <div
                            ng-click="openProject(item)"
                            class="cell leftText width100"
                            >
                        {{item.name}}
                    </div>
                    <div class="cell" ng-click="showDialog('project','edit',item)">
                        {{i18n.edit}}
                    </div>
                    <div class="cell" ng-click="deleteProject(item)">
                        x
                    </div>
                </div>
            </div>
            <button ng-click="showDialog('project','create')">{{i18n.create}}</button>

        </div>
    </div>
</div>

