<!--<script type="text/ng-template" id="categoryTree">-->
    <!--<div ng-click="category.opened=!category.opened">-->
        <!--<span ng-class="category.opened?'opened':'closed'"></span>-->
        <!--<span>{{category.title}}</span>-->
    <!--</div>-->
    <!--<ul ng-show="category.opened" ng-if="category.categories" ng-init="category.opened=false">-->
        <!--<li ng-repeat="category in category.categories" ng-include="'categoryTree'">-->
        <!--</li>-->
    <!--</ul>-->
<!--</script>-->
<!--<ul>-->
    <!--<li ng-repeat="category in categories" ng-include="'categoryTree'"></li>-->
<!--</ul>-->

<!--<script type="text/javascript">-->
    <!--function populateFontList(data){-->
        <!--alert(data);-->
    <!--}-->
<!--</script>-->

<!--<embed-->
        <!--id="Main"-->
        <!--src="flex/out/production/flex/Main.swf"-->
        <!--type="application/x-shockwave-flash"-->
        <!--data="Main.swf"-->
        <!--name="FlashID">-->

    <!--<param name="quality" value="high" />-->
    <!--<param name="wmode" value="opaque" />-->
    <!--<param name="allowScriptAccess" value="always" />-->
    <!--<param name="expressinstall" value="Scripts/expressInstall.swf" />-->
<!--</embed>-->

<div class="table width100 height100">
    <div class="row height1">
        <div class="cell">
            <div class="panel withMarginBottom" ng-include src="'partials/topPanel.html'"></div>
        </div>
    </div>
    <div class="row height100">
        <div class="cell">
            <div class="table width100 height100">
                <div class="row">
                    <div class="cell mainPanelCell width20 topAlign" ng-include src="'partials/leftMenu.html'"></div>
                    <div class="cell mainPanelCell topAlign" ng-include src="'partials/centralBlock.html'"></div>
                    <div class="cell mainPanelCell width20 topAlign" ng-include src="'partials/rightMenu.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>




<div ng-include src="'partials/dialogs.html'"></div>
<div ng-include src="'partials/contextMenus.html'"></div>
