<!--<script type="text/ng-template" id="categoryTree">-->
    <!--<div ng-click="category.opened=!category.opened">-->
        <!--<span ng-class="category.opened?'opened':'closed'"></span>-->
        <!--<span>{{category.title}}</span>-->
    <!--</div>-->
    <!--<ul ng-show="category.opened" ng-if="category.categories" ng-init="category.opened=false">-->
        <!--<li ng-repeat="category in category.categories" ng-include="'categoryTree'">-->
        <!--</li>-->
    <!--</ul>-->
<!--</script>-->
<!--<ul>-->
    <!--<li ng-repeat="category in categories" ng-include="'categoryTree'"></li>-->
<!--</ul>-->