<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/angular.css">
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/jquery.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.js"></script>
    <script type="text/javascript">window.app = angular.module('main', [])</script>
    <script type="text/javascript" src="js/factories/models.js"></script>
    <script type="text/javascript" src="js/factories/i18n.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
    <body ng-app="main" ng-controller="mainCtrl" ng-include src="'main.html'">
        loading...
    </body>
</html>