<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/angular.css">
    <link type="text/css" rel="stylesheet" href="css/lib/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="css/lib/jquery-ui.theme.css">
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/jquery.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.js"></script>
    <script type="text/javascript">window.app = angular.module('main', [])</script>
    <script type="text/javascript" src="js/factories/factories.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="main" ng-controller="mainCtrl">

<script type="text/ng-template" id="categoryTree">
    <div ng-click="category.opened=!category.opened">
        <span ng-class="category.opened?'opened':'closed'"></span>
        <span>{{category.title}}</span>
    </div>
    <ul ng-show="category.opened" ng-if="category.categories" ng-init="category.opened=false">
        <li ng-repeat="category in category.categories" ng-include="'categoryTree'">
        </li>
    </ul>
</script>
<ul>
    <li ng-repeat="category in categories" ng-include="'categoryTree'"></li>
</ul>

<div class="table width100 withMargin">
        <div class="row">
            <div class="cell width20">
                <div class="leftMenu" ng-init="leftMenuIndex=''">
                    <h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'gameObjects')"><%=i18n.gameObjects%></h3>
                    <div ng-show="leftMenuIndex=='gameObjects'">
                        <button>
                            {{i18n.add}}
                        </button>
                    </div>
                    <h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'assets')"><%=i18n.assets%></h3>
                    <div ng-show="leftMenuIndex=='assets'">
                        <div>
                            <div class="table">
                                <div class="row" ng-repeat="item in editData.resourceList.rs">
                                    <div class="cell vAlign">
                                        <img height="20" ng-src="{{'resources/images/'+item.name}}"/>
                                    </div>
                                    <div class="cell vAlign">
                                        <span>{{item.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button data-action="upload">
                            <%=i18n.addAsset%>
                        </button>
                        <input app-on-file-upload="onResourceUpload($formData)" type="file"/>
                    </div>
                    <h3 ng-click="leftMenuIndex=uiHelper.toggle(leftMenuIndex,'other')">other</h3>
                    <div ng-show="leftMenuIndex=='other'">
                        <div>
                            other block here
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">

            </div>
        </div>
    </div>
</body>
</html>