


html, body {
    height: 100%;
    font-family: monospace;
}

html, body, div {
    margin: 0;
    padding: 0;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.width100 {
    width: 100%;
}

.width20 {
    width: 20%;
}

.width1 {
    width: 1px;
}

.withMargin {
    margin: 10px;
}

.withPadding {
    padding: 10px;
}

.vAlign {
    vertical-align: middle;
}

input[type="file"] {
    display: inline-block;
    height: 0;
    opacity: 0;
    position: absolute;
}

.leftMenu {
    background-color: #ccc;
}

.leftMenu h3 {
    background-color: #aaaaaa;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #8c8c8c;
}