<app-collapsible
        :title="i18n.currScene"
        xmlns:v-on="http://www.w3.org/1999/xhtml">

        <div
                v-if="!editData.currSceneInEdit.id">
            {{i18n.notSelected}}
        </div>

        <div class="withPadding" v-if="editData.currSceneInEdit.id">

            <b class="centerText">
                {{i18n.scene}} : {{editData.currSceneInEdit.name}}
            </b>

            <div class="table width100">

                <div class="row">
                    <div class="cell">
                        <label for="editData.currSceneInEdit.useBG">{{i18n.useBG}}</label>
                    </div>
                    <div class="cell">
                        <input type="checkbox"
                               id="editData.currSceneInEdit.useBG"
                               v-model="editData.currSceneInEdit.useBG"
                               v-on:change="editScene()"/>
                    </div>
                </div>

                <div class="row" v-if="editData.currSceneInEdit.useBG">
                    <div class="cell">
                        {{i18n.colorBG}}
                    </div>
                    <div class="cell">
                        <app-color-picker
                                :object="editData.currSceneInEdit"
                                :value="'colorBG'"
                                :onchange="editScene()"
                                />
                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        <hr/>
                    </div>
                    <div class="cell">
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="cell valign bold">
                        {{i18n.tileMap}}
                    </div>
                    <div class="cell eye"></div>
                </div>
                <div class="row">
                    <div class="cell valign">
                        tileMap.width
                    </div>
                    <div class="cell">
                        <input type="number"
                               min="0"
                               maxlength="3"
                               v-control="{form:form,model:editData.currSceneInEdit.tileMap,prop:'width'}"
                               v-on:change="editScene()"
                               v-model="editData.currSceneInEdit.tileMap.width"/>
                    </div>
                </div>

                <div class="row">
                    <div class="cell valign">
                        tileMap.height
                    </div>
                    <div class="cell">
                        <input type="number"
                               min="0"
                               maxlength="3"
                               v-control="{form:form,model:editData.currSceneInEdit.tileMap,prop:'height'}"
                               v-on:change="editScene()"
                               v-model="editData.currSceneInEdit.tileMap.height"/>
                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        {{i18n.selected}}
                    </div>
                    <div class="cell">
                        <div
                            :class="{
                                inlineBlock:1,
                                hoverOutline:1
                            }"
                            :style="{
                                width:frameWidth+'px',
                                verticalAlign:'middle',
                                height:frameHeight+'px',
                                backgroundImage:      'url('+editData.projectName+'/'+resourcePath+')',
                                backgroundPositionX:  -framePosX+'px',
                                backgroundPositionY:  -framePosY+'px',
                                backgroundRepeat:     'no-repeat',
                            }"
                        ></div>
                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        {{i18n.spriteSheets}}
                    </div>
                    <div class="cell">
                        <select
                                v-model="editData.currSceneInEdit.tileMap.spriteSheetId"
                                v-on:change="setTileMapSpriteSheet()"
                                >
                            <option value="">--</option>
                            <option
                                    v-for="item in editData.spriteSheetList.rs"
                                    :value="item.id"
                                    >{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div
                :style="{
                    width: frameWidth*numOfFramesH+'px',
                    overflowX: 'auto'
                }"
                >
                <div :class="{
                        inlineBlock:true,
                        selected:i==editData.currTileIndexInEdit,
                        hoverOutline:1
                     }"
                     :style="{
                        width:frameWidth+'px',
                        verticalAlign:'middle',
                        height:frameHeight+'px',
                        backgroundImage:'url('+resourcePath+')',
                        backgroundPositionX:   -framePosX+'px',
                        backgroundPositionY:   -framePosY+'px',
                        backgroundRepeat:     'no-repeat',
                     }"
                     :title="i"
                     v-on:click.capture="setCurrSelectedTile(i)"
                     v-for="(v,i) in numOfFramesForSceneSpriteSheet"
                     ></div>
            </div>

        </div>



</app-collapsible>