<app-collapsible
        :title="i18n.spriteSheets"
        :crud="{
            create:createSpriteSheet
        }"
        >
    <div class="withPaddingLeft">
        <div class="table width100">
            <div class="row"
                 v-for="spriteSheet in (editData.spriteSheetList && editData.spriteSheetList.rs)">

                <div class="cell">
                    <img
                        height="20"
                        class="spriteSheetThumb"
                        :src="editData.projectName+'/'+spriteSheet.resourcePath"/>
                </div>
                <div class="cell">
                    <span class="inlineBlock withPaddingTop withPaddingBottom">
                        {{spriteSheet.name}}
                    </span>
                </div>
                <div class="cell width1">
                    <div class="edit"/>
                </div>
                <div class="cell width1">
                    <div class="delete"/>
                </div>
            </div>
        </div>
    </div>
</app-collapsible>