<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="icon"  href="images/script.png">
    <link rel="stylesheet" type="text/css" href="generated/css/styles.css">
    {{{  include 'partial/onerror.html' }}}
    {{{  script '/generated/js/debug.js' }}}
    {{{  script '/generated/js/compileMessageScript.js' }}}
</head>

<body>

    <div id="app">
        <div class="route" data-route>loading...</div>

        <app-confirm-dialog id="confirmDialog"></app-confirm-dialog>
        <app-alert-dialog id="alertDialog"></app-alert-dialog>

    </div>
    {{{  script '/generated/js/app.bundle.js' }}}

</body>

</html>