<div class="shadow" ng-show="!!uiHelper.dialogName"></div>

<div class="dialogWrapper" ng-show="!!uiHelper.dialogName">
    <div class="dialog">
        <div class="dialogContent">
            <div class="dialogClose" ng-click="uiHelper.closeDialog()">
                X
            </div>

            <form name="frmCreateSpriteSheet" ng-show="uiHelper.dialogName=='frmCreateSpriteSheet'"  novalidate>
                <table class="width100">
                    <tr>
                        <td>
                            {{i18n.name}}
                        </td>
                        <td>
                            <input required ng-model="currSpriteSheetInEdit.name"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.image}}
                        </td>
                        <td>
                            <img src="{{currSpriteSheetInEdit.resourcePath}}" height="15"/>
                            <button data-action="upload">
                                {{i18n.loadImage}}
                            </button>
                            <input accept="image/*" app-on-file-upload="onSpriteSheetUpload($file,$src)" type="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.width}}
                        </td>
                        <td>
                            {{currSpriteSheetInEdit.width}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.height}}
                        </td>
                        <td>
                            {{currSpriteSheetInEdit.height}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.numOfFramesH}}
                        </td>
                        <td>
                            <input required min="1" type="number" ng-model="currSpriteSheetInEdit.numOfFramesH"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.numOfFramesV}}
                        </td>
                        <td>
                            <input required min="1" type="number" ng-model="currSpriteSheetInEdit.numOfFramesV"/>
                        </td>
                    </tr>
                </table>
                <button
                        ng-click="createOrEditSpriteSheet();"
                        ng-disabled="!(frmCreateSpriteSheet.$valid && currSpriteSheetInEdit.resourcePath)">
                    {{currSpriteSheetInEdit.id?i18n.edit:i18n.create}}
                </button>
            </form>

            <form name="frmCreateGameObject" ng-show="uiHelper.dialogName=='frmCreateGameObject'" novalidate>
                <table class="width100">
                    <tr>
                        <td>
                            {{i18n.name}}
                        </td>
                        <td>
                            <input required ng-model="currGameObjectInEdit.name"/>
                        </td>
                        <td></td>
                        <td rowspan="5">
                            <div style="
                               width:{{currGameObjectInEdit.width}}px;
                               height:{{currGameObjectInEdit.height}}px;
                               background-image:url({{currGameObjectInEdit._spriteSheet.resourcePath}});
                               background-position-y: -{{currGameObjectInEdit._spPosY}}px;
                               background-position-x:-{{currGameObjectInEdit._spPosX}}px;
                               background-repeat:no-repeat;
                            "></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.width}}
                        </td>
                        <td>
                            <input type="number" required ng-model="currGameObjectInEdit.width"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.height}}
                        </td>
                        <td>
                            <input type="number" required ng-model="currGameObjectInEdit.height"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.currFrameIndex}}
                        </td>
                        <td>
                            <input type="number"
                                   ng-change="refreshGameObjectFramePreview(currGameObjectInEdit)"
                                   required ng-model="currGameObjectInEdit.currFrameIndex"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.spriteSheet}}
                        </td>
                        <td>
                            <select
                                    ng-change="recalcGameObjectSize(currGameObjectInEdit)"
                                    required ng-model="currGameObjectInEdit.spriteSheetName">
                                <option ng-repeat="item in editData.spriteSheetList.rs">{{item.name}}</option>
                            </select>
                        </td>
                        <td>
                            <button ng-click="showCreateSpriteSheetDialog()">+</button>
                        </td>
                    </tr>
                </table>
                <button ng-disabled="!frmCreateGameObject.$valid" ng-click="createGameObject(currGameObjectInEdit)">{{i18n.create}}</button>
            </form>
        </div>
    </div>
</div>
