<div class="shadow" ng-show="!!uiHelper.dialogName"></div>

<div class="dialogWrapper" ng-show="!!uiHelper.dialogName">
    <div class="dialog">
        <div class="dialogContent">
            <div class="dialogClose" ng-click="uiHelper.dialogName=''">
                X
            </div>
            <form name="frmCreateGO" ng-show="uiHelper.dialogName=='createGO'" ng-init="modelGO=currGameObjectInEdit" novalidate>
                <table class="width100">
                    <tr>
                        <td>
                            {{i18n.name}}
                        </td>
                        <td>
                            <input required ng-model="modelGO.name"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.imageResource}}
                        </td>
                        <td>
                            <select required ng-model="modelGO.imageResource" ng-init="modelGO.imageResource=editData.resourceList.rs[0].name">
                                <option ng-repeat="item in editData.resourceList.rs">{{item.name}}</option>
                            </select>
                        </td>
                        <td>
                            <button data-action="upload">+</button>
                            <input app-on-file-upload="onResourceUpload($formData)" type="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.numOfFramesH}}
                        </td>
                        <td>
                            <input required min="1" type="number" ng-model="modelGO.numOfFramesH"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            {{i18n.numOfFramesV}}
                        </td>
                        <td>
                            <input required min="1" type="number" ng-model="modelGO.numOfFramesV"/>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <button ng-disabled="!frmCreateGO.$valid" ng-click="createGameObject(modelGO)">{{i18n.create}}</button>
            </form>
        </div>
    </div>
</div>
