
<div class="gameSceneWrapper withPaddingLeft">
    <div
            class="gameScene relative"
            ng-controller="sceneCtrl"
            app-droppable="gameObjFromLeftPanel"
            app-on-dropped="onGameObjectDropped($object,$event)"
            ng-style="{
                width:  editData.gameProps.width+'px',
                height: editData.gameProps.height+'px',
            }">
        <div style="position:absolute;border: 1px solid red;width:10px;height:10px;left:{{testLeft}}px;top:{{testTop}}px;"></div>
        <!--{{editData.sceneList.rs[0]._gameObjects.rs[0]}}-->
    </div>
</div>