
<div class="gameSceneWrapper withPaddingLeft">
    <div
            class="gameScene relative"
            ng-controller="sceneCtrl"
            app-key-press="onKeyPress($event)"
            app-droppable="gameObjFromLeftPanel,gameObjFromSelf"
            app-on-dropped="onGameObjectDropped($object,$draggable,$event)"
            ng-style="{
                width:  editData.gameProps.width+'px',
                height: editData.gameProps.height+'px',
            }">
        <div
                app-draggable="gameObjFromSelf"
                ng-model="item"
                ng-repeat="item in editData.currSceneInEdit._gameObjects.rs"
                ng-click="editData.currSceneGameObjectInEdit=item"
                ng-style="utils.merge(
                            utils.getGameObjectCss(item),
                            {
                                position:'absolute',
                                left:item.posX+'px',
                                top: item.posY+'px'
                            }
                    )"
                ng-class="{active:item==editData.currSceneGameObjectInEdit}"
                >
        </div>
    </div>
</div>