<div xmlns:v-on="http://www.w3.org/1999/xhtml">
    <app-collapsible :title="i18n.game" :id="'game'">
        <form class="table width100">
            <div class="row">
                <div class="cell">
                    {{i18n.width}}
                </div>
                <div class="cell">
                    <input
                            class="narrow"
                            v-model="editData.gameProps.width"
                            v-control="{form:form,model:editData.gameProps,prop:'width'}"
                            type="number"
                            min="1"
                            max="20000"
                            v-on:change="form.valid() && saveGameProps()"/>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    {{i18n.height}}
                </div>
                <div class="cell">
                    <input
                            class="narrow"
                            v-model="editData.gameProps.height"
                            type="number"
                            v-control="{form:form,model:editData.gameProps,prop:'height'}"
                            min="1"
                            max="20000"
                            v-on:change="form.valid() && saveGameProps()"/>
                </div>
            </div>


            <div class="row">
                <div class="cell">
                    {{i18n.scaleStrategy}}
                </div>
                <div class="cell">
                    <select
                            v-model="editData.gameProps.scaleStrategy"
                            v-on:change="form.valid() && saveGameProps()">
                        <option
                                :title="value"
                                :value="value"
                                v-for="(value,key) in scales">{{key}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    {{i18n.preloadingScene}}
                </div>
                <div class="cell">
                    <select
                            v-model="editData.gameProps.preloadingSceneId"
                            v-on:change="form.valid() && saveGameProps()">
                        <option value="">--</option>
                        <option
                                :disabled="item.id==editData.gameProps.startSceneId"
                                :value="item.id"
                                v-for="item in (editData.sceneList && editData.sceneList.rs)">{{item.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    {{i18n.startScene}}
                </div>
                <div class="cell">
                    <select v-model="editData.gameProps.startSceneId"
                            v-on:change="form.valid() && saveGameProps()">
                        <option
                                :disabled="item.id==editData.gameProps.preloadingSceneId"
                                :value="item.id"
                                v-for="item in (editData.sceneList && editData.sceneList.rs)">{{item.name}}
                        </option>
                    </select>
                </div>
            </div>

        </form>

    </app-collapsible>
</div>