
<app-modal id="colorPickerModal" data-transclusion-id="colorPicker">

    <div data-transclusion="content:#colorPicker">

        <table>
            <tr>
                <td>
                    <input type="color" data-model="currentColor.hex" data-change="hexChanged()"/>
                </td>
                <td>
                    <input type="text"  data-model="currentColor.hex" data-keyup="hexChanged()"/>
                </td>
                <td></td>
            </tr>

            <table class="width100">
                <tr
                        data-for="item in colorEnums">
                    <td
                            data-style="{
                                color: item.left
                            }"
                    >
                        {{item.left}}
                    </td>
                    <td class="centerText">
                        <input class="vAlign" type="range" min="0" max="255" data-model="currentColor.RGB[item.key]" data-input="rgbChanged()" data-change="rgbChanged()">
                        <br/>
                        <input class="small vAlign" data-model="currentColor.RGB[item.key]" data-change="rgbChanged()">
                        <hr/>
                    </td>
                    <td
                            data-style="{
                                color: item.right
                            }"
                    >
                        {{item.right}}
                    </td>
                    <td>
                        <div data-style="{
                            width: '5px',
                            height: '5px',
                            backgroundColor: getRawColor(currentColor.RGB,item.key)
                        }"></div>
                    </td>
                </tr>

            </table>
        </table>

        <button
                data-click="applyColor()">
            {{i18n.get('edit')}}
        </button>
    </div>

</app-modal>