[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
ng\:form {
  display: block;
}
.ng-animate-shim {
  visibility: hidden;
}
.ng-anchor {
  position: absolute;
}
form.ng-dirty input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
  color: #c10000;
}
html,
body {
  height: 100%;
  font-family: monospace;
  background-color: #ebebeb;
}
html,
body,
div {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  list-style-type: none;
}
img {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.table {
  display: table;
  border-collapse: collapse;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  padding: 3px;
}
.noSelect {
  -webkit-user-select: none;
  user-select: none;
}
.underLine {
  text-decoration: underline;
}
.small {
  font-size: 10px;
}
.width100 {
  width: 100%;
}
.width20 {
  width: 20vw;
}
.width1 {
  width: 1px;
}
.height100 {
  height: 100%;
}
.height1 {
  height: 1px;
}
.noDisplay {
  display: none;
}
input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
.noOverFlow {
  overflow: hidden !important;
}
.withMargin {
  margin: 5px;
}
.withPadding {
  padding: 5px;
}
.withPaddingLeft {
  padding-left: 5px;
}
.withMarginBottom {
  margin-bottom: 5px;
}
.vAlign {
  vertical-align: middle;
}
.topAlign {
  vertical-align: top;
}
.block {
  display: block;
}
.inlineBlock {
  display: inline-block;
}
.fixed {
  position: fixed;
}
.rightAlign {
  text-align: right;
}
.relative {
  position: relative;
}
input[type="file"] {
  display: inline-block;
  height: 0;
  opacity: 0;
  position: absolute;
}
.sideMenu {
  background-color: #ccc;
}
.bold {
  font-weight: bold;
}
[draggable] {
  cursor: copy;
}
.droppable {
  outline: 1px dashed green;
}
.centerText {
  text-align: center;
}
.leftText {
  text-align: left;
}
.center {
  margin: 0 auto;
}
.centerVert {
  vertical-align: middle;
}
[ng-click],
label,
[type=checkbox],
[type=radio] {
  cursor: pointer;
}
.menu li {
  padding: 0;
  display: block;
}
.menu {
  position: absolute;
  width: 200px;
  padding: 2px;
  margin: 0;
  border: 1px solid #bbb;
  background: #eee;
  background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
  background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
  z-index: 100;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, 15px) scale(0.95);
  transform: translate(0, 15px) scale(0.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  opacity: 0;
}
.menu.rootMenu {
  opacity: 1;
}
.menu li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.menu li {
  background: none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  color: #444;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 8px;
  border-radius: 3px;
}
.menu li:hover {
  color: #fff;
  outline: none;
  background: linear-gradient(to bottom, #5D6D79, #2E3940);
  border: 1px solid #2E3940;
}
.menu .li.disabled {
  opacity: .5;
  color: grey;
  pointer-events: none;
  cursor: default;
}
.menu .li.disabled:hover {
  opacity: .5;
  color: #b6b6b6;
  pointer-events: none;
  background: linear-gradient(to bottom, #aeb1b5, #dedfe1);
}
.menu li.disabled .menu-btn {
  cursor: default;
}
.submenu:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #808080;
}
.menu .menu {
  top: 4px;
  left: 99%;
}
.menu li:hover > .menu {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  -webkit-transition-delay: 100ms;
  transition-delay: 300ms;
}
.sideMenu h3 {
  background-color: #aaaaaa;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #8c8c8c;
}
.panel {
  background-color: #aaaaaa;
}
.opened {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid #58585e;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: none;
}
.active {
  outline: 1px solid green;
}
.closed {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #58585e;
  border-right: none;
  border-bottom: 5px solid transparent;
}
.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.3);
}
.dialogWrapper {
  display: table;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  z-index: 200;
}
.dialog {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
}
.dialogContent {
  display: inline-block;
  position: relative;
  background-color: #f8f8f8;
}
.dialogClose {
  position: absolute;
  right: 20px;
  top: -20px;
  cursor: pointer;
  z-index: 2000;
}
.gameSceneWrapper {
  max-width: calc(60vw);
  max-height: 90vh;
  overflow: auto;
}
.gameScene {
  background-color: #aaa;
}
.selected {
  background-color: rgba(3, 158, 180, 0.31);
  outline: 2px solid rgba(3, 158, 180, 0.31);
}
.selected2 {
  background-color: #dbdbdb;
}
.unselected {
  background-color: rgba(3, 158, 180, 0.08);
}
.layers {
  background-color: #8c8c8c;
}
.table.borderedRows > .row,
.table.borderedCells > .row > .cell {
  border: 1px solid #504c4e;
}
.borderBottom {
  border-bottom: 1px solid grey;
}
.triangleRight {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: none;
  border-left: 5px solid #636363;
}
.triangleBottom {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-top: 5px solid #636363;
}
.contextMenu {
  z-index: 120;
}
.menu li:hover {
  background-color: #cdf7ff;
}
.mainPanelCell {
  padding: 2px;
  box-shadow: 0 0 4px #d1d2d4;
}
.subFullScreen {
  width: 70vw;
  height: 70vh;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.06);
}
.narrow {
  max-width: 50px;
}
.hoverable:hover {
  background-color: #ececec;
  position: relative;
  z-index: 100;
}
.hoverOutline:hover,
.hoverOutline.selected {
  outline: 1px solid #e0e9ff;
  position: relative;
  z-index: 100;
}
.hoverOutline.selected {
  outline: 2px solid #00ff1a;
}
.tileCell {
  background-color: rgba(174, 158, 255, 0.15);
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
iframe {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.delete {
  background: url("../images/delete.png") no-repeat;
  width: 24px;
  height: 24px;
}
.edit {
  background: url("../images/edit.png") no-repeat;
  width: 24px;
  height: 24px;
}
.script {
  background: url("../images/script.png") no-repeat;
  width: 24px;
  height: 24px;
}
.eye {
  background: url("../images/eye.png") no-repeat;
  width: 24px;
  height: 24px;
}
.add {
  background: url("../images/add.png") no-repeat;
  width: 24px;
  height: 24px;
}
