html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: #F6F6F6;
  margin: 0;
}
html,
body,
div {
  margin: 0;
  padding: 0;
  border: none;
  font-family: monospace;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.06);
}
.subFullScreen {
  width: 70vw;
  height: 70vh;
}
#app,
.template {
  height: 100%;
}
img {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.small {
  font-size: 10px;
}
input,
select {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  min-width: 60px;
}
button,
label {
  cursor: pointer;
}
input.error {
  color: red;
  outline: 1px solid red;
}
select.error {
  outline: 1px solid red;
}
.table {
  display: table;
  border-collapse: collapse;
}
.noSelect {
  -webkit-user-select: none;
  user-select: none;
}
.underLine {
  text-decoration: underline;
}
.smallXX {
  font-size: 7px;
}
.noDisplay {
  display: none;
}
input[type=range][orient=vertical] {
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
.noOverFlow {
  overflow: hidden !important;
}
.withMargin {
  margin: 5px;
}
.withPadding {
  padding: 5px;
}
.withPaddingX {
  padding: 10px;
}
.withPaddingTop {
  padding-top: 5px;
}
.withPaddingBottom {
  padding-bottom: 5px;
}
.withPaddingTopX {
  padding-top: 10px;
}
.withPaddingBottomX {
  padding-bottom: 10px;
}
.withPaddingLeft {
  padding-left: 5px;
}
.withPaddingRight {
  padding-right: 5px;
}
.withPaddingLeftX {
  padding-left: 10px;
}
.withPaddingRightX {
  padding-right: 10px;
}
.marginAuto {
  margin: auto;
}
.vAlign {
  vertical-align: middle;
}
.topAlign {
  vertical-align: top;
}
.block {
  display: block;
}
.inlineBlock {
  display: inline-block;
}
.fixed {
  position: fixed;
}
.rightAlign {
  text-align: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
input[type="file"] {
  display: inline-block;
  height: 0;
  opacity: 0;
  position: absolute;
}
.bold {
  font-weight: bold;
}
[draggable] {
  cursor: copy;
}
.droppable {
  outline: 1px dashed green;
}
.centerText {
  text-align: center;
}
.leftText {
  text-align: left;
}
.rightText {
  text-align: right;
}
.noBrake {
  white-space: nowrap;
}
[click],
label,
[type=checkbox],
[type=radio] {
  cursor: pointer;
}
.delete {
  background: url("../images/delete.png") no-repeat;
  width: 24px;
  height: 24px;
  zoom: 0.5;
  display: inline-block;
  vertical-align: middle;
}
.edit {
  background: url("../images/edit.png") no-repeat;
  width: 24px;
  height: 24px;
  zoom: 0.5;
  display: inline-block;
  vertical-align: middle;
}
.script {
  background: url("../images/script.png") no-repeat;
  width: 24px;
  height: 24px;
  zoom: 0.5;
  display: inline-block;
  vertical-align: middle;
}
.eye {
  background: url("../images/eye.png") no-repeat;
  width: 24px;
  height: 24px;
  zoom: 0.5;
  display: inline-block;
  vertical-align: middle;
}
.add {
  background: url("../images/add.png") no-repeat;
  width: 24px;
  height: 24px;
  zoom: 0.5;
  display: inline-block;
  vertical-align: middle;
}
.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
.width20 {
  width: 20%;
}
.width30 {
  width: 30%;
}
.width10 {
  width: 10%;
}
.width1 {
  width: 1px;
}
.height100 {
  height: 100%;
}
.height10 {
  height: 10%;
}
.height90 {
  height: 90%;
}
.table {
  display: table;
}
.borderBottom {
  border-bottom: 1px solid grey;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  vertical-align: top;
}
.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.collapsible_header {
  background-color: #aaa;
  padding: 5px 0 5px 5px;
  margin: 0;
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.collapsible_content {
  display: none;
  background-color: #f2f2f2;
}
.collapsible_content.opened {
  display: block;
}
.collapsible_point {
  display: inline-block;
  vertical-align: bottom;
}
.collapsible_point.rotated {
  transform: rotate(90deg);
}
.alert_body {
  margin: 10px;
  min-width: 300px;
  min-height: 25px;
}
.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.3);
}
.dialogWrapper {
  display: table;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  z-index: 200;
}
.dialog {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
}
.dialogContent {
  display: inline-block;
  position: relative;
  background-color: #f8f8f8;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 300;
}
.dialogClose {
  text-align: right;
  background-color: #bdbdbd;
  border-bottom: 1px solid #767676;
}
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.content {
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}
.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  cursor: col-resize;
}
.gutter.gutter-vertical {
  cursor: row-resize;
}
.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
#c {
  padding-top: 25px;
}
#topMenu {
  position: absolute;
}
.split {
  border-radius: 2px;
}
.active {
  outline: 1px solid green;
}
.currSceneGameObject {
  outline: 1px solid green;
}
.currScene {
  outline: 1px solid green;
  text-decoration: underline;
}
.hoverOutline:hover,
.hoverOutline.selected {
  outline: 1px solid #e0e9ff;
  position: relative;
  z-index: 100;
}
.hoverOutline.selected {
  outline: 2px solid #00ff1a;
}
