<div>
    <div
        class="collapsible_header bold noSelect"
    >
        <div class="table width100">
            <div class="row">
                <div class="cell width1">
                    <span
                            class="collapsible_point noBrake"
                            data-click="toggle()"
                            data-class="{rotated:opened}">▷</span>
                </div>
                <div class="cell">
                    <span
                            data-click="toggle()"
                            >&nbsp;{{title}}</span>
                </div>
                <div class="cell width1">
                    <div data-if="crud && crud.create" class="add" data-click="crud.create(meta)"></div>
                </div>
                <div class="cell width1">
                    <div data-if="crud && crud.editScript" class="script" data-click="crud.editScript(object)"></div>
                </div>
                <div class="cell width1">
                    <div data-if="crud && crud.edit" class="edit" data-click="crud.edit(object,meta)"></div>
                </div>
                <div class="cell width1">
                    <div data-if="crud && crud.delete" class="delete" data-click="crud.delete(object,meta)"></div>
                </div>
            </div>
        </div>
    </div>
    <div
            class="collapsible_content"
            data-class="{opened:opened}">
        <div data-transclusion="content"></div>
    </div>
</div>