<div xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div
        class="collapsible_header bold noSelect"
        @click="toggle()"
    >
        <div class="table width100">
            <div class="row">
                <div class="cell width1">
                    <span
                            class="collapsible_point noBrake"
                            :class="{rotated:opened}">▷</span>
                </div>
                <div
                        class="cell">
                    <span>&nbsp;{{title}}</span>
                </div>
                <div class="cell width1">
                    <div v-if="crud && crud.create" class="add" v-on:click.stop="crud.create()"></div>
                </div>
                <div class="cell width1">
                    <div v-if="crud && crud.edit" class="edit" v-on:click.stop="crud.edit(object)"></div>
                </div>
                <div class="cell width1">
                    <div v-if="crud && crud.delete" class="delete" v-on:click.stop="crud.delete(object)"></div>
                </div>
            </div>
        </div>
    </div>
    <div
            class="collapsible_content"
            :class="{opened:opened}">
        <slot></slot>
    </div>
</div>