<table class="width100">
    <tr>
        <td>
            {{i18n.name}}
        </td>
        <td>
            <input required ng-model="editData.currSpriteSheetInEdit.name"/>
        </td>
        <td rowspan="6">
            <div style="max-height: 60vh;max-width:60vw;overflow: scroll;"
                    >
                <div class="relative"
                     style="
                                        background-image: url('{{editData.currSpriteSheetInEdit.resourcePath}}');
                                        width:{{editData.currSpriteSheetInEdit.width}}px;
                                        height: {{editData.currSpriteSheetInEdit.height}}px;
                                    ">
                    <div
                            ng-repeat="i in getArray(editData.currSpriteSheetInEdit.numOfFramesH*editData.currSpriteSheetInEdit.numOfFramesV)"
                            style="
                                            display:inline-block;
                                            left:{{editData.currSpriteSheetInEdit.getFramePosX(i)}}px;
                                            top:{{editData.currSpriteSheetInEdit.getFramePosY(i)}}px;
                                            position:absolute;
                                            text-align: left;
                                            border:1px solid red;
                                            width:{{editData.currSpriteSheetInEdit._frameWidth}}px;
                                            height:{{editData.currSpriteSheetInEdit._frameHeight}}px;
                                        ">{{i}}</div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            {{i18n.image}}
        </td>
        <td>
            <button data-action="upload">
                {{i18n.loadImage}}
            </button>
            <input accept="image/*" app-on-file-upload="onSpriteSheetUpload($file,$src)" type="file"/>
        </td>
    </tr>
    <tr>
        <td>
            {{i18n.width}}
        </td>
        <td>
            {{editData.currSpriteSheetInEdit.width}}
        </td>
    </tr>
    <tr>
        <td>
            {{i18n.height}}
        </td>
        <td>
            {{editData.currSpriteSheetInEdit.height}}
        </td>
    </tr>
    <tr>
        <td>
            {{i18n.numOfFramesH}}
        </td>
        <td>
            <input required min="1" type="number" ng-change="editData.currSpriteSheetInEdit.calcFrameSize()" ng-model="editData.currSpriteSheetInEdit.numOfFramesH"/>
        </td>
    </tr>
    <tr>
        <td>
            {{i18n.numOfFramesV}}
        </td>
        <td>
            <input required min="1" type="number" ng-change="editData.currSpriteSheetInEdit.calcFrameSize()" ng-model="editData.currSpriteSheetInEdit.numOfFramesV"/>
        </td>
    </tr>
</table>
<button
        ng-click="createOrEditSpriteSheet()"
        ng-disabled="!(frmCreateSpriteSheet.$valid && editData.currSpriteSheetInEdit.resourcePath)">
    {{editData.currSpriteSheetInEdit.id?i18n.edit:i18n.create}}
</button>