<div
        ng-controller="sceneCtrl"
        ng-if="editData.currSceneGameObjectInEdit">
    <h3 class="centerText">
        {{
            editData.currSceneGameObjectInEdit.type
        }}
    </h3>

    <div class="table width100">

        <div class="row" ng-if="editData.currSceneGameObjectInEdit.subType">
            <div class="cell">
                subType
            </div>
            <div class="cell">
                <i>{{editData.currSceneGameObjectInEdit.subType}}</i>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                name
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        class="width100"
                        ng-model="editData.currSceneGameObjectInEdit.name"/>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                pos.x
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="number"
                        class="width100"
                        ng-model="editData.currSceneGameObjectInEdit.pos.x"/>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                pos.y
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="number"
                        class="width100"
                        ng-model="editData.currSceneGameObjectInEdit.pos.y"/>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                scale.x
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="number"
                        step="0.1"
                        class="width100"
                        ng-model="editData.currSceneGameObjectInEdit.scale.x"/>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                scale.y
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="number"
                        step="0.1"
                        class="width100"
                        ng-model="editData.currSceneGameObjectInEdit.scale.y"/>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                {{i18n.width}}
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="number"
                        class="width100"
                        step="1"
                        ng-model="editData.currSceneGameObjectInEdit.width"/>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                {{i18n.height}}
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="number"
                        class="width100"
                        step="1"
                        ng-model="editData.currSceneGameObjectInEdit.height"/>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                {{i18n.angle}}
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="number"
                        class="width100"
                        step="0.1"
                        ng-model="editData.currSceneGameObjectInEdit.angle"/>
            </div>
        </div>

        <div class="row">
            <div class="cell">
                {{i18n.fixedToCamera}}
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="checkbox"
                        ng-true-value="1"
                        ng-false-value="0"
                        ng-model="editData.currSceneGameObjectInEdit.fixedToCamera"
                />
            </div>
        </div>

        <div class="row">
            <div class="cell">
                {{i18n.rigid}}
            </div>
            <div class="cell">
                <input
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        type="checkbox"
                        ng-true-value="1"
                        ng-false-value="0"
                        ng-model="editData.currSceneGameObjectInEdit.rigid"
                        />
            </div>
        </div>

        <div class="row"
            ng-if="editData.currSceneGameObjectInEdit.subType=='textField'"
            >
            <div class="cell">
                {{i18n.text}}
            </div>
            <div class="cell">
                <textarea
                        class="width100"
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        ng-model="editData.currSceneGameObjectInEdit.text"></textarea>
            </div>
        </div>

        <div class="row"
            ng-if="editData.currSceneGameObjectInEdit.subType=='textField'"
            >
            <div class="cell">
                {{i18n.font}}
            </div>
            <div class="cell">
                <select
                        class="width100"
                        ng-model="editData.currSceneGameObjectInEdit.fontId"
                        ng-change="editGameObjectFromRightMenu(editData.currSceneGameObjectInEdit)"
                        >
                    <option value="{{item.id}}" ng-repeat="item in editData.fontList.rs">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>