<table ng-show="uiHelper.window=='sceneWindow'">
    <tr>
        <td></td>
        <td>
            <button ng-click="editData.tileMapPosY=editData.tileMapPosY-1;">&uarr;</button>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <button ng-click="editData.tileMapPosX=editData.tileMapPosX-1;">&larr;</button>
        </td>
        <td>
            <button ng-click="editData.tileMapPosX=0;editData.tileMapPosY=0">R</button>
        </td>
        <td>
            <button ng-click="editData.tileMapPosX=editData.tileMapPosX+1;">&rarr;</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button ng-click="editData.tileMapPosY=editData.tileMapPosY+1;">&darr;</button>
        </td>
        <td></td>
    </tr>
</table>