<div class="noDisplay"> {{
    tileMapPosYTo = editData.tileMapPosY +
        editData.gameProps.height/editData.currSceneInEdit.tileMap._spriteSheet._frameHeight;
    tileMapPosYTo = tileMapPosYTo>editData.currSceneInEdit.tileMap.height?
        editData.currSceneInEdit.tileMap.height:
        tileMapPosYTo;

    tileMapPosXTo = editData.tileMapPosX +
        editData.gameProps.width/editData.currSceneInEdit.tileMap._spriteSheet._frameWidth;
    tileMapPosXTo = tileMapPosXTo>editData.currSceneInEdit.tileMap.width?
        editData.currSceneInEdit.tileMap.width:
        tileMapPosXTo;
}}</div>

<div class="table">
    <div
        ng-class="{
            row:1
        }"
        ng-repeat="y in utils.range(editData.tileMapPosY,tileMapPosYTo)">
        <div
                ng-repeat="x in utils.range(editData.tileMapPosX,tileMapPosXTo)"
                ng-class="{
                    cell:1,
                    tileCell:1
                }"
               >
            <div
                ng-style="{
                    width:editData.currSceneInEdit.tileMap._spriteSheet._frameWidth+'px',
                    verticalAlign:'middle',
                    height:editData.currSceneInEdit.tileMap._spriteSheet._frameHeight+'px',
                    backgroundImage:      'url('+editData.projectName+'/'+editData.currSceneInEdit.tileMap._spriteSheet.resourcePath+')',
                    backgroundPositionX:  -editData.currSceneInEdit.tileMap._spriteSheet.getFramePosX(editData.currSceneInEdit.tileMap.data[y][x]||-1)+'px',
                    backgroundPositionY:  -editData.currSceneInEdit.tileMap._spriteSheet.getFramePosY(editData.currSceneInEdit.tileMap.data[y][x]||-1)+'px',
                    backgroundRepeat:     'no-repeat'
                }"
                ng-mousemove="setTile(editData.currSceneInEdit,x,y,editData.currTileIndexInEdit,$event)"
                ng-click="setTile(editData.currSceneInEdit,x,y,editData.currTileIndexInEdit)"
                ></div>
        </div>
    </div>
</div>